exportPattern("^[^\\.]")

import(graphics)
import(grDevices)
importFrom(grid, grid.ls)
importFrom(conicfit, EllipseDirectFit, AtoG, calculateEllipse, CircleFitByPratt, calculateCircle)
importFrom(stats, loess, predict)
